* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#content {
  margin-top: 20px;
  margin-left: 20px;
  width: 50%;
}

h1 {
  padding: 10px;
}

.buttons li {
  display: inline-block;
  padding: 10px;
  margin-right: 5px;
  cursor: pointer;
}

.tab-list {
  padding: 10px;
}

.game-photo {
  margin-bottom: 10px;
}

article p {
  margin-bottom: 10px;
}

article h2 {
  margin-bottom: 10px;
}

article ul {
  margin-bottom: 10px;
  padding-left: 20px;
}